
/*   MEDIUM SCREEN */
@media screen and (min-width:600px ){      

	.nav{
	    list-style-type: none;
	    text-align: center;
	    position: static;
	}
	.nav li {
	    display: inline-block;
	    padding: 0 1.3% 0 1.3%;
	    border-bottom-style: none;

	}
	.nav li a {
		padding: 10px 10px;
		margin:0;
		font-size: 15px;
	}
	h1{
		position: static;
		font-size: 3em;
	}
	#home {
		top: 7%;
	}
	.text{
		font-size: 1em;
		top: 26%;
		width: 25%;
		left: 12%;
		line-height: 1.5;
	}
	.category{
		padding: 5px;
	}
	.bottom{
		top: 28%;
	}
	footer{
		word-spacing: 60px;
	}
	.footer_image{
		position: relative;
		width: 22px;
		top: 2px;
		left: 0%;
	}
	.gallery{
		top: 10%;
		width: 90%;
		left:5%;
		margin-bottom: 5%;
	}
	.album{
		width: 80%;
	}

	.photo{
		width: 48%;
	}
	.accordion{
		top: 15%;
		position: relative;
		margin-bottom: 40%;
	}
	.caption{
		width: 80%;
		top: 10%;
		left: 10%;
		font-size: 1.1em;
	}	
	.content{
		position: relative;
		width: 130%;
		right: 15%;
	}

	.poster{
		font-size: 2em;
		width: 90%;
	}
	.poster p{
		font-size: .5em;
	}
	.document{
		font-size: 1.5em;
	}
	.gutter{
		width: 30%;
		font-size: 2.2em;
	}

	.description{
		top: 5%;
	}
	.zine{
		top: 10%;
	}
}


/*------------------LARGE SCREEN---------------------*/
@media screen and (min-width: 1000px){  

	h1{
		text-align: right;
		font-size: 3em;
		right: 5%;
		padding-top:2%;
		position: absolute;
		width: 50%
	}
	.nav{

	    list-style-type: none;
	    text-align: left;
	    width: 20%;
	    top: 5%;
	    left: 5%;
	    position: relative;
	    z-index: 2;
	}
	.nav li {
	    display: block;
	    border-bottom-style: solid;
		border-bottom-width: 1px;
		border-color: red;
		margin:0;
		padding: 0;
	}

	.text{
		font-size: .8em;
		width: 45%;
		left: 5%;
		top: 50%;
		font-size: 1em;
		line-height: 1.5;

	}
	#home {
		width: 120%;
		right: 20%;
		top: -8%;
	}
/*-----ACCORDION------*/
.accordion{
	width: 60%;
	left: 35%;
	top: 0%;
	margin-bottom: 10%
}
.content{
	width: 110%;
	right: 5%;
}

.category{
	font-size: 1.5em;
}
.category:hover{
	background: green;
	color: white;
}
.container{
	width: 15%;
}
.container img{
	width: 100%;
}
.caption{
	font-size: 1.1em;
}

.gutter{
	font-size: 2.3em;
	display: inline-block;
	position: fixed;
	width: 18%;
	left: 3.5%;
	bottom: 2%;
	margin: 3%;
}

.gutter img{
	width: 100%;
}	
.gutter p {
	margin-top: 5%;
}
.document{
	font-size: 2em;
}

.poster{
	font-size: 2.4em;
	margin-bottom: 3%;
}
.poster p{
	font-size: .5em;
	margin:0;
}


.description{
	width: 70%;
	left: 30%;
	top: 0%;
}
.zine{
	margin-bottom: 10%;
}



}